[defaults]
inventory = inventories/kanagawa01/hosts.yml
roles_path = roles
collections_path = collections
private_key_file = ~/.ssh/infra
remote_user = ops
# TODO: Enable host key checking after known_hosts management is defined.
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo
become_user = root

[connection]
pipelining = True

[ssh_connection]
ssh_args = -o ForwardAgent=yes
