# Managed by Alflag provisioning.
apiVersion: 1
providers:
  - name: Alflag
    orgId: 1
    folder: Alflag
    type: file
    disableDeletion: false
    updateIntervalSeconds: 60
    options:
      path: {{ grafana_dashboard_dir }}
