{
  "annotations": {
    "list": []
  },
  "editable": true,
  "fiscalYearStartMonth": 0,
  "graphTooltip": 0,
  "links": [],
  "panels": [],
  "refresh": "30s",
  "schemaVersion": 39,
  "tags": [
    "daedalus",
    "kanagawa01"
  ],
  "templating": {
    "list": []
  },
  "time": {
    "from": "now-6h",
    "to": "now"
  },
  "timezone": "browser",
  "title": "Kanagawa01 Overview",
  "uid": "kanagawa01-overview",
  "version": 1,
  "weekStart": ""
}
