# The IP address and port on which the NetBox WSGI process listens.
bind = {{ (services_netbox_gunicorn_bind_address ~ ':' ~ (services_netbox_gunicorn_port | string)) | to_json }}

workers = {{ services_netbox_gunicorn_workers | int }}
threads = {{ services_netbox_gunicorn_threads | int }}
timeout = {{ services_netbox_gunicorn_timeout | int }}
max_requests = {{ services_netbox_gunicorn_max_requests | int }}
max_requests_jitter = {{ services_netbox_gunicorn_max_requests_jitter | int }}
