DATABASE_DRIVER=sqlite
DATABASE_URL="file:/var/lib/gameap/db.sqlite?_pragma=busy_timeout(5000)&_pragma=journal_mode(WAL)&_pragma=foreign_keys(1)"
AUTH_SECRET={{ services_gameap_panel_auth_secret }}
ENCRYPTION_KEY={{ services_gameap_panel_encryption_key }}
HTTP_HOST=0.0.0.0
HTTP_PORT={{ services_gameap_panel_http_port }}
GRPC_PORT={{ services_gameap_panel_grpc_port }}
GRPC_EXTERNAL_HOST={{ services_gameap_panel_grpc_external_host }}
GRPC_TLS_ENABLED=true
FILES_DRIVER=local
FILES_LOCAL_BASE_PATH=/var/lib/gameap
LOGGER_LOG_DB_QUERIES=false
