server:
{% for address in dns_recursor_listen_addresses | unique %}
  interface: {{ address }}
{% endfor %}
  port: 53
  do-ip4: yes
  do-ip6: no
  do-udp: yes
  do-tcp: yes
  hide-identity: yes
  hide-version: yes
  harden-glue: yes
  harden-dnssec-stripped: yes
  qname-minimisation: yes
{% for cidr in dns_recursor_allowed_cidrs | unique %}
  access-control: {{ cidr }} allow
{% endfor %}

{% for zone in dns_recursor_stub_zones %}
stub-zone:
  name: "{{ zone.name }}"
{% for server in zone.servers %}
  stub-addr: {{ server }}
{% endfor %}

{% endfor %}
{% for zone in dns_recursor_forward_zones %}
forward-zone:
  name: "{{ zone.name }}"
{% for server in zone.servers %}
  forward-addr: {{ server }}
{% endfor %}

{% endfor %}
