{
  "b2_bucket": {{ mysql_backup_b2_bucket | to_json }},
  "b2_prefix": {{ mysql_backup_b2_prefix | to_json }},
  "rclone_binary": {{ mysql_backup_rclone_program_path | to_json }},
  "rclone_config_file": {{ mysql_backup_rclone_config_path | to_json }},
  "rclone_remote": {{ mysql_backup_rclone_remote | to_json }},
  "credentials_file": {{ mysql_backup_credentials_path | to_json }},
  "staging_directory": {{ mysql_backup_staging_dir | to_json }},
  "restore_directory": {{ mysql_backup_restore_dir | to_json }},
  "status_file": {{ mysql_backup_status_path | to_json }},
  "lock_file": {{ mysql_backup_lock_path | to_json }},
  "mysql_socket": {{ mysql_backup_mysql_socket | to_json }},
  "mysql_datadir": {{ mysql_backup_mysql_datadir | to_json }},
  "binlog_directory": {{ mysql_backup_binlog_dir | to_json }},
  "source_node": {{ inventory_hostname | to_json }},
  "source_nodes": {{ groups.svc_mysql | sort | to_json }},
  "expected_databases": {{ (['mysql'] + ((mysql_server_databases + mysql_shared_expanded.databases) | map(attribute='name') | list)) | unique | list | to_json }}
}
