[Unit]
Description=MySQL ReplicaSet physical backup
After=mysql.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart={{ mysql_backup_program_path }} --config {{ mysql_backup_config_path }} --skip-if-lock-busy
UMask=0077
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
PrivateTmp=true
ProtectHome=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
